.instagram{
    background-color:var(--white);
    color:var(--black);
    padding-top: 4rem;
}

.instagram-top .head h3{
    font-size: 3rem;
    font-weight: 700;
}
.instagram-top .body .box{
    background-image: url("https://elexy-demo.myshopify.com/cdn/shop/files/instagram-1.png?v=1710752282");
    height: 17rem;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.instagram-top .body .box .icon-con{
    background-color: #E3A77E;
    width:6rem;
    height: 6rem;
    color:#fff;
    font-size: 3.5rem;
    border-radius: 50%;
    display: none;
}

.instagram-top .body .box:hover .icon-con{
    display: flex;
}
.instagram-bottom h2{
    font-size:3rem;
    font-weight: 700;
}
.instagram-bottom {
    background-color:#000;
    color:#fff;
    padding: 5rem 0;
}
.instagram-bottom .input-con{
    border:1px solid #fff;
    background-color:#000;
    padding: .7rem 0;
    padding-left: 2rem;
    width: 40%;
    border-radius: 2rem;
}
.instagram-bottom .input-con input{
    outline: none;
    border: none;
    color: #fff;
    background-color:#000;
    width: 66%;
}
    .instagram-bottom .input-con button{
        background-color:var(--white);
        color:var(--black);
        border-radius:2rem;
        
    }