.about-team .team-con{
    width: 80%;
}
.about-team .team-con .head{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}
.about-team .team-con .head h2{
    font-size: 3rem;
    font-weight: 700;
}
.about-team .team-con .body .my-box{
    box-shadow: 10px 10px 26px -10px rgba(0,0,0,0.75);
    border-radius: 1rem;
}
.about-team .team-con .body .my-box .text-con{
    padding: .5rem;
}