.about-story{
    padding: 5rem 0;
}
.about-story .story-left h2{
    font-size: 3.5rem;
    font-weight: 700;
}
.about-story .story-left p{
    margin: 1rem 0;
    font-size: 1.2rem;
}
.about-story .story-left h3{
    font-weight: 700;
}
.about-story .story-right img{
    border-radius: 2rem;
}