.highly {
    background:var(--white);
    padding: 5rem 0;
    color: var(--black);
}

.highly .highly-top {
    padding: 4rem 0 !important;
}

.highly .highly-top .highly-head h3 {
    font-size: 3.5rem;
    font-weight: 700;
}

.highly .highly-top .highly-head p {
    font-size: 1.3rem;
    width: 50%;
}

.highly .highly-top .highly-head .link {
    border-radius: 2rem;
    padding: .7rem 1rem;
    padding-top: .2rem;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.highly .highly-bottom .box {
    height: 20rem;
    color: #fff;
    background-position: center;
    background-size: 32rem;
    transition: .5s;
}

.highly .highly-bottom .box:hover {
    background-size: 35rem;

}

.highly .highly-bottom .box h3 {
    font-size: 2.5rem;
}

.highly .highly-bottom .box-one {
    background-image: url("./image/bottom-1.webp");
    text-align: center;
    padding: 2rem;

}

.highly .highly-bottom .box-two {
    background-image: url("./image/bottom-2.webp");
    padding: 2rem;

}

.highly .highly-bottom .box-three {
    background-image: url("./image/bottom-3.webp");
    padding-left: 3rem;

}

.highly .highly-bottom .box-two .text-con {
    margin-left: 10rem;
    margin-top: 2rem;
}

.highly .highly-bottom .box-one .text-con {
    margin-left: 10rem;
}

.highly .highly-bottom .box span {
    color: rgb(180, 151, 108);
}

.highly .highly-bottom .box .link {
    color: #fff;
    text-decoration: underline;
}

@media (max-width:"700px") {
    .highly{
        padding-bottom: 0;
    }
    .highly .highly-top .highly-head h3 {
        font-size: 3rem;
    }
    .highly .highly-top .highly-head p {
        width: 100%;
        font-size: 1.2rem;
    }
    .highly .highly-top .highly-head >div{
        flex-direction: column;
    }
    .highly .highly-top .highly-head >div .btn{
        margin-top: 1rem;
    }
}