
.register{
    height: 100vh;
    padding: 6rem 14rem;
    background-color:var(--white)
}
.register h1{
    transition: .5s;
    font-weight: 700 !important;
}
.register h1.register-close{
    transform: translate(-110%);
    }
.register >div{
    border: 1px solid;
    height: 100%;
    background-color:antiquewhite;
    border-radius: 2rem;
    overflow: hidden;
    background-image: url(./image/undraw_mobile_login_re_9ntv.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: .5s;
}
.register >div .form-con{
    padding: 4rem 5rem;
}
.register >div .form-con input{
    background-color:var(--white);
    color:var(--black) !important;
}
.register >div .form-con input .form-control{
    color:var(--black);
}
.my-password{
    position: relative;
}
.my-password .eye-icon{
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2rem;
    color:var(--black);
}
.register >div label{
    color:var(--black);
}



.register .right.register-close{
transform: translate(-110%);
}


@media screen and (max-width: 1260px){
  
    .register{
        height: 120vh;
        padding: 6rem 2rem;
    }
    .register >div{
        height: 70%;
    }
    .register >div .form-con{
        padding: 2rem 2rem;
    }
   
}
@media screen and (max-width: 700px){
    .register >div .form-con{
        padding: 0;
    }
    .register{
        height: 100vh;
        padding: 6rem 8rem;
    }
    .register >div .form-con{
        padding: 2rem 1rem;
        padding-top: 7rem;
    }
    .register >div{
        height: 100%;
    }
}



@media screen and (max-width: 540px){
    .register >div {
        height: auto;
    }
    .register >div .form-con{
        padding: 0;
    }
    .register{
        height: 100vh;
        padding: 6rem 4rem;
    }
}

@media screen and (max-width: 433px){
    .register >div .form-con{
        padding: 0;
        padding-top: 5rem;
        height: auto;
    }
    .register{
        height: 100vh;
        padding: 6rem 2rem;
    }
}