    
.faq-page{
    background-color: var(--light-grey);
    color:var(--black); 
    padding-bottom: 4rem;
}
.faq-head{
    background-color: var(--light-grey);
    color:var(--black);
    padding: 4rem 0;
    font-size: 1.8rem;
    text-align: center;
}
.faq-body *{
    background-color: var(--white);
    color:var(--black);  
}
.faq-body h3{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4rem;
    background-color:transparent;
}
.ant-collapse-header{
    align-items: center !important;
}
.ant-collapse-header-text{
    font-weight: 600;
    font-size: 1.8rem;
}
.faq-col-body p{
    margin: 1rem 0;
    font-size: 1.3rem;
}