.about-head {
    padding: 3rem 0;
    background-color:#F3F3F3;
}
.about-head h3{
    font-size: 3rem;
}
.about-head >div .link{
    color:#000;
}
.about-head >div .link:hover{
    text-decoration: underline;
}